@media (max-width: 1024px) {
  .header-content {
    flex-direction: column;
  }

  .nav-list {
    gap: 160px;
  }

  .sauces-cards__decorate {
    display: none;
  }

  .sauces-cards {
    flex-wrap: wrap;
  }

  .story-content {
    flex-direction: column;
    align-items: center;
  }

  .story-content__left {
    width: 100%;
  }

  .person {
    width: 100%;
  }

  .story-content__right {
    width: 100%;
  }

  .footer-content {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .sauces-title__title {
    font-size: 35px;
    line-height: 32.576px;
  }

  .promo__title {
    font-size: 38px;
    line-height: 34.512px;
  }

  .story-content__title {
    font-size: 38px;
    line-height: 34.512px;
  }
}

@media (max-width: 425px) {
  .nav-list__link {
    padding-left: 14px;
    padding-right: 14px;
  }

  .btn {
    padding-left: 14px;
    padding-right: 14px;
  }

  .sauces-title__title {
    padding: 0;
    font-size: 25px;
  }

  .scorpion-image {
    width: 30%;
  }

  .scorpion-image__mirror {
    width: 30%;
  }

  .promo__title {
    font-size: 28px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .ticker-string {
    font-size: 7px;
  }

  .ticker-body {
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .story-content__title {
    font-size: 28px;
  }

  .sauces-card__image {
    width: 75%;
  }

  .sauces-card__title {
    font-size: 22px;
  }
}

@media (max-width: 320px) {
  .btn {
    padding-left: 4px;
    padding-right: 4px;
  }

  .nav-list__link {
    padding-left: 4px;
    padding-right: 4px;
  }

  .nav-list {
    gap: 80px;
  }

  .story-content__title {
    padding: 4px;
  }

  .sauces-title {
    padding: 9px 10px;
  }

  .sauces-cards {
    padding: 10px;
  }

  .sauces-card {
    padding-top: 64px;
  }

  .story-content__story {
    padding-top: 34px;
    padding-bottom: 30px;
  }
}
