.promo-content {
  display: flex;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

.promo-content__left {
  border-right: 1px solid #000000;
  overflow: hidden;
  position: relative;
  width: 50%;
}

.ujjo-image {
  max-width: 100%;
}

.sauce-image__left {
  padding: 20px;
  max-width: 100%;
}

.promo-content__right {
  width: 50%;
}

.promo__title {
  padding: 24px 80px;
  color: #000;
  text-align: center;
  font-size: 58px;
  font-weight: 400;
  line-height: 64.512px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border-bottom: 1px solid #000000;
}

.sauce-image__right {
  padding: 20px;
  max-width: 100%;
}
