.sauces-content {
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

.sauces-title {
  display: flex;
  align-items: center;
  padding: 59px 30px;
  border-bottom: 1px solid #000000;
}

.sauces-title__title {
  color: #000;

  text-align: center;
  font-size: 65px;
  font-weight: 400;
  line-height: 72.576px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 0 51px;
}

.scorpion-image {
  max-width: 100%;
}

.scorpion-image__mirror {
  transform: scale(-1, 1);
  max-width: 100%;
}

.sauces-cards {
  display: flex;
  gap: 23px;
  padding: 20px;
  position: relative;
}

.sauces-cards__decorate {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 97%;
}

.sauces-card {
  padding: 129px 23px 23px 23px;
  background-image: url(../../src/img/green-dome.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sauces-card__type {
  color: #000;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 28.08px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.sauces-card__title {
  color: #000;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  line-height: 38.016px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.sauces-card__image {
  max-width: 100%;
}

.sauces-bg {
  padding: 20px;
  max-width: 100%;
}
